/* body {
  opacity: 0;
  transition: opacity 1s ease-in-out;
} */

body.loaded {
  opacity: 1;
}

@font-face {
  font-family: "sf";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 600;
}

@font-face {
  font-family: "sf";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 700;
}

@font-face {
  font-family: "sf";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: 800;
}

body {
    font-family: "sf", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    margin: 0;
    padding: 1% 15% 1% 14%;
    align-items: center;
    vertical-align: middle;
    font-size: 18px;
}

header ul {
    font-weight: 700;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: space-between;
    color: rgb(0, 0, 0, 0.4);
}


header ul li {
    position: relative;
    overflow: hidden;
    transition: .3s;
    
  }

header ul li:hover {
    font-weight: 800;
    color: #000000;
  }

header ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 2px) 0 0 0; 
    background: #25fe54;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
  }

header ul:hover li:before {
    scale: 1;
  }
  
header ul li:hover:before {
    translate: 0;
    transition: .3s;
  }

header ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
  }

header ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
  }
  
a {
    text-decoration: none;
    color: inherit;
}

#projects {
    color: #000000;
}


.homecontainer {

    background: url("../images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    transition: all 0.5s ease-in;
}


.homecontainer h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 10px;
}

.homecontainer p {
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
}

#myprojects {
    margin-top: 45px;
    text-align: center;
    width: 83%;
    margin-left: 8%;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 0.1em;
}

#myprojects h2 {
  font-weight: 800;
  text-align: center;
  }
  
  #myprojects h2::before,
  #myprojects h2::after {
    background-color: #00000024;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  #myprojects h2::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  #myprojects h2::after {
    left: 0.5rem;
    margin-right: -50%;
  }


.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:  4% 0 0 0;
}


#project {
  position: relative;
  height: 60vh;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#project img {
  height: 60vh;
  transition: 0.3s ease-in-out;
}

#project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-align: center;
}

#project:hover img {
  transform: scale(1.1);
}

#project:hover .overlay {
  opacity: 1;
}

#project .text-container {
  position: relative;
  bottom: -50%;
  text-align: center;
  color: white;
  transition: bottom 0.5s ease;
  padding: 5%;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden;
  white-space: normal; 
  word-wrap: break-word;
}

#project:hover .text-container {
  bottom: 0%;
}

.text-title {
  font-size: 24px;
  margin-bottom: 40px;

}

.text-description {
  margin-top: 20px; 
  font-size: 16px;
  font-weight: 700;
}


footer {
  background: rgb(242, 242, 242);
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 1%;
}


footer h1 {
  padding-top: 3%;
  color: rgb(65, 163, 255);
  font-weight: 800;
  text-transform: uppercase;
  }


footer a {
  color:#000000;
  background: #ffffff;
  border-radius:24px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}


footer a:hover {
  color: white;
  background: rgb(49, 154, 253);
}


footer a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


footer a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}


footer a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}


footer a:nth-of-type(1):before {
content:'\f09b';
}
footer a:nth-of-type(2):before {
content:'\f0e1';
}
footer a:nth-of-type(3):before {
content:'\f099';
}
footer a:nth-of-type(4):before {
content:'\f16d';
}