<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Akshat Sanghvi</title>
    <link rel="icon" type="image/x-icon" href="../static/images/pfp.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../static/js/scripts.js" defer></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h3>AKSHAT SANGHVI</h3>
        <div>
            <ul>
                <li id="projects" style="color: rgba(0, 0, 0, 0.4);"><a href="/">PROJECTS</a></li>
                <li id="about"><a href="#">ABOUT</a></li>
                <li id="resume" ><a href="https://drive.google.com/file/d/1dsSj5K_gkwinpH-r3neYVaqzD0whTyHg/view?usp=sharing">RESUME</a></li>
            </ul>
        </div>
    </header>

    <section class="about-section">
        <div class="about-text">
            <h2>About Me</h2>
            <h1>Hello!</h1>
            <p>I'm Akshat, a final-year student at Parul University, with a love for Machine Learning, Artificial Intelligence, and Games. 
                My journey in the tech world has been a mix of experimenting, falling into errors, and spending way too many hours debugging code I probably wrote in a past life. 
                I get so much lost in the details and to achieve perfection that I sometimes forget what I was trying to perfect in the first place.
            </p><p>Curiosity drives me – when something has my interest, I dive so deep into it that not only ChatGPT but even google starts asking me for a subscription to keep going!
            When I'm not knee-deep in code, I'm either playing games, on a call with someone, binge watching a series or just wondering why they don't make more comedies like "How I met your mother" and "American Pie."</p>
            <p>I am a dedicated team player, always looking for new challenges and opportunities to grow and although, I prefer working alone, But that doesn't mean I'm not up for a good chat! If you want to talk tech, projects, or just share a funny meme, drop me a message at <a href="mailto:jakshat569@gmail.com">jakshat569@gmail.com</a>.</p>
        </div>
        <div class="about-image">
            <img src="../static/images/profile.jpg" alt="Akshat Sanghvi">
        </div>
    </section>

    <footer>
        <h1> <a href="mailto:jakshat569@gmail.com">Let's Get in touch!</a></h1>     
        <div>
            <a class="icon" href="https://github.com/iiakshat"><span>Github</span></a>
            <a class="icon" href="https://www.linkedin.com/in/akshat-sanghvi"><span>Linkedin</span></a>
            <a class="icon" href="https://x.com/akshat_sanghvi_"><span>Twitter</span></a>
            <a class="icon" href="https://www.instagram.com/_iakshat_/"><span>Instagram</span></a>
        </div>
        <h2>Coded by Akshat Sanghvi</h2>     
        <p>&copy; 2024 Akshat Sanghvi. All rights reserved.</p>
    </footer>
</body>
</html>
