<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akshat Sanghvi</title>
    <link rel="icon" type="image/x-icon" href="../static/images/pfp.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/js/scripts.js">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h3 style="font-weight: 800;">AKSHAT SANGHVI</h3>
        <div>
            <ul>
                <li id="projects"><a href="#myprojects">PROJECTS</a></li>
                <li id="about"><a href="about.html">ABOUT</a></li>
                <li id="resume"><a href="#">RESUME</a></li>
            </ul>
        </div>
    </header>
    <div class="homecontainer">
        <h1>Hi, I'm Akshat Sanghvi!</h1>
        <p>Machine Learning Engineer</p>
    </div>
    <section class="maincontainer" id="myprojects">
        <h2>My Projects</h2>
        <div class="project-section">
            <div id="project">
            <img src="../static/images/project1.jpg"> 
            <div class="overlay" style="background: #13400f8b;">
                <div class="text-container">
                <div class="text-title">Football Match Analysis Using Yolo</div>
                <div class="text-description"><p>Analyze football match clips, extracting player positions, speed</p><ps>and distances covered using fine-tuned YOLOv5 model.</p></div>
                </div>
            </div>
            </div>
            <div id="project">
            <img src="../static/images/project2.jpg"> 
            <div class="overlay" style="background: #00223d91;">
                <div class="text-container">
                <div class="text-title">Content-Based Retrieval and Analysis</div>
                <div class="text-description"><p>AI-powered system to process images, documents, videos and audios</p><p>efficiently using Langchain with Groq inference  and Vector database.</p></div>
                </div>
            </div>
            </div>
            <a href="https://huggingface.co/spaces/akshatsanghvi/himym-analysis">
            <div id="project">
            <img src="../static/images/project3.jpg">
            <div class="overlay" style="background: #3e410990;">
                <div class="text-container">
                <div class="text-title">How I Met Your Mother Analysis</div>
                <div class="text-description"><p>Web application designed to analyze themes and character networks</p><p> in the TV series "How I Met Your Mother" using NLP.</p></div>
                </div>
            </div>
            </div>
            </a>
            <div id="project">
            <img src="../static/images/project4.jpg"> 
            <div class="overlay" style="background: #00000088;">
                <div class="text-container">
                <div class="text-title">Movie Recommender System</div>
                <div class="text-description"><p>Rice Disease Classifier that classifies rice crops into</p><p>6 different classes using Convolutional Neural Networks (CNN).</p></div>
                </div>
            </div>
            </div>
            <div id="project">
                <img src="../static/images/project7.jpg"> 
                <div class="overlay" style="background: #58490b88;">
                    <div class="text-container">
                    <div class="text-title">Rice Disease Classifier</div>
                    <div class="text-description"><p>Rice Disease Classifier that classifies rice crops into</p><p>6 different classes using Convolutional Neural Networks (CNN).</p></div>
                    </div>
                </div>
                </div>
                <a href="http://65.2.121.33:8000/">
                <div id="project">
                <img src="../static/images/project8.jpg"> 
                <div class="overlay" style="background: #034c6688;">
                    <div class="text-container">
                    <div class="text-title">Diabetes Prediction</div>
                    <div class="text-description"><p>Rice Disease Classifier that classifies rice crops into</p><p>6 different classes using Convolutional Neural Networks (CNN).</p></div>
                    </div>
                </div>
                </div>   
                </a> 
            <div id="project">
            <img src="../static/images/project5.jpg"> 
            <div class="overlay" style="background: #4a0a5588;">
                <div class="text-container">
                <div class="text-title">Sentiment Analysis</div>
                <div class="text-description"><p>Rice Disease Classifier that classifies rice crops into</p><p>6 different classes using Convolutional Neural Networks (CNN).</p></div>
                </div>
            </div>
            </div>
            <div id="project">
            <img src="../static/images/project6.jpg"> 
            <div class="overlay" style="background: #1c1d5a88;">
                <div class="text-container">
                <div class="text-title">Neural Network From Scratch</div>
                <div class="text-description"><p>Rice Disease Classifier that classifies rice crops into</p><p>6 different classes using Convolutional Neural Networks (CNN).</p></div>
                </div>
            </div>
            </div>

        </div>
    </section>

    <footer>
        <h1> <a>Let's Get in touch!</a></h1>     
        <div>
            <a class="icon" href="https://github.com/iiakshat"><span>Github</span></a>
            <a class="icon" href="https://www.linkedin.com/in/akshat-sanghvi"><span>Linkedin</span></a>
            <a class="icon" href="https://x.com/akshat_sanghvi_"><span>Twitter</span></a>
            <a class="icon" href="https://www.instagram.com/_iakshat_/"><span>Instagram</span></a>
        </div>
        <h2>Coded by Akshat Sanghvi</h2>     
        <p>&copy; 2024 Akshat Sanghvi. All rights reserved.</p>
    </footer>
</body>
</html>